header {
  background: url(img/man.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.section {
  padding-top: 4vw;
  padding-bottom: 4vw;
}

.street {
  height: 250px;
}

.tabs .indicator {
  background-color: #1a237e;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: transparent;
}
